.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Navigation Links li*/
.nav-links li {
  margin: 1rem;
}

.nav-links a {
  border: 1px solid transparent;
  color: black;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  background-color: white;
  border-color: gray;
  color: #000000;
}

.nav-links button {
  border: 1px solid gray;
  color: black;
}

.nav-links button:focus {
  outline: none;
}

.nav-links button:hover,
.nav-links button:active {
  background-color: rgb(0, 0, 0);
  color: white;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0.5rem;
  }

  .nav-links a {
    color: black;
    text-decoration: none;
  }

  .nav-links button {
    border: 1px solid gray;
    color: rgb(188, 143, 180);
    background: transparent;
  }

  .nav-links button:hover,
  .nav-links button:active {
    background: rgb(188, 143, 177);
    color: white;
  }
}
